In [651]:
"""What is the total sum of Wine produced in 2015 and 2018 respectively?"""
w1 = food_data[['Item','Y2015','Y2018']]
w2 = w1[w1['Item'] == 'Wine'].sum()
w2
   #            OR
#lst7 = dict(food_data.groupby('Item').sum()) #groupby item column & convert to dictionary
#df = pd.DataFrame(lst7) # convert to a dataframe dictionary
#print('total sum of wine produced in 2015 - ', df.at['Wine','Y2015'])
#print('total sum of wine produced in 2018 - ', df.at['Wine','Y2018'])

#4251.81 and 4039.32

Item     WineWineWineWineWineWineWineWineWineWineWineWi...
Y2015                                              4251.81
Y2018                                              4039.32
dtype: object

In [652]:
"""What is the total number of unique countries in the dataset?"""
lst6 = food_data.groupby('Area')['Area'].sum()
lst6 #shows the unique countries in area column
print('total number of unique countries in the dataset - ', len(lst6)) #counts the countries

total number of unique countries in the dataset -  49

In [653]:
"""Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?"""
f1 = food_data.groupby('Element').sum()
f2 = f1[ ['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'] ]
f3 = f2.loc['Stock Variation']
print(f3)                               #### 2014
f4 = f3.max()
print('Highest stock variation:- ',f4)

#    OR
#lst5 = dict(food_data.groupby('Element').sum()) # groupby element and convert to a dictionary
#df = pd.DataFrame(lst5) #convert to Dataframe dictionary
#answer5 = sorted(df.loc['Stock Variation'][3:8].items(),key=lambda x: x[0], reverse=False) 
#converts to list and sort in descending order according to values

#answer5[0] # prints the first item of the list

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64
Highest stock variation:-  58749.83

In [654]:
"""Which year had the least correlation with ‘Element Code’?"""
dfd1 = food_data[['Element Code','Y2014', 'Y2015','Y2016', 'Y2017', 'Y2018']]

dfd2 = dfd1.corr()            ### 2016
dfd3 = dfd2['Element Code']
print(dfd3)
dfd4 = dfd3.min()
print('least:- ',dfd4)

# df2 = df1[df1['Area'] == 'Madagascar']

Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64
least:-  0.02344399758496104

In [655]:
"""What is the mean and standard deviation across the whole dataset 
for the year 2017 to 2 decimal places?"""  ###

b1 = food_data.describe()
b2 = b1['Y2017']
b2.loc[['mean','std']]

mean     140.917765
std     1671.862359
Name: Y2017, dtype: float64

In [656]:
import pandas as pd
"""Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  
Which of these Areas had the 7th lowest sum in 2017?"""
#c1 = food_data[['Y2017','Area']]
#c2 = c1.groupby('Area').sum()
#c3 = sorted(c2.values.tolist(), key=lambda x: x[0], reverse=True)
#c3[-7]

#      OR
lst3 = food_data.groupby('Area')['Y2017'].sum() # create table of areas & its highest sum in 2017
answer3 = sorted(lst3.items(), key=lambda x: x[1], reverse=False)#converts it to list and sort it in ascending order
answer3[6] #prints the 7th item in the list by indexm1 = food_data[['Y2017','Area']]

('Guinea-Bissau', 19102.77)

In [657]:
"""Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’. 
 Which of these Areas had the highest sum in 2017? """  ###


lst2 = food_data.groupby('Area')['Y2017'].sum() # create table of areas & its highest sum in 2017

answer2 = sorted(lst2.items(), key=lambda x: x[1], reverse=True) 
#converts it to list and sort it in descending order
answer2[0] #prints the first item in the list

('Nigeria', 1483268.23)

In [658]:
dff1 = food_data.groupby( ['Area' , 'Element'] )['Y2015'].sum()
dff2 = dff1.loc['Madagascar']
dff3 = dff2.loc['Protein supply quantity (g/capita/day)']
dff3

173.05

In [659]:
""" What is the total Protein supply quantity in Madagascar in 2015? """ 
df1 = food_data[['Area','Element','Y2015']] # subset our dataframe to the required 3 columns
df2 = df1[df1['Area'] == 'Madagascar'] #subsets our dataframe to only madagascar area
df3 = df2[df2['Element'] == 'Protein supply quantity (g/capita/day)'] #subsets to Protein supply quantity
df4 = df3.sum() #sum total protein supply
print(df4)

Area       MadagascarMadagascarMadagascarMadagascarMadaga...
Element    Protein supply quantity (g/capita/day)Protein ...
Y2015                                                 173.05
dtype: object

In [660]:
 """What is the total number and percentage of missing data in 2014 to 3 decimal places?"""
    
nul_2014 = food_data.isnull().sum()['Y2014']
dataset_length = len(food_data)
percentage = (nul_2014/dataset_length)*100

print('percentage:- ',percentage)
print('Total number:- ',nul_2014)

percentage:-  2.6073544131401474
Total number:-  1589

In [661]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
#food_data.groupby('Element')['Y2017'].sum()
food_data.groupby('Element').sum().at['Processing','Y2017']

292836.0

In [662]:
food_data = pd.read_csv("food_data.csv", encoding = "latin-1")
food_data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [663]:
import pandas as pd